<drag-scroll style="height: 100vh">
  <div class="game">

    <svg class="road_path abs" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="1004.9px" height="317.5px" viewBox="0 0 1004.9 317.5"
      style="overflow:visible;enable-background:new 0 0 1004.9 317.5;" xml:space="preserve">
      <style type="text/css">
        .st0 {
          fill: none;
          stroke: #000000;
          stroke-width: 3;
          stroke-miterlimit: 10;
          opacity: 0.2;
        }

      </style>
      <defs>
      </defs>
      <path id="path" class="st0" d="M0.8,316.3c168-104.8,336.1-209.7,504.1-314.5C586.4,48.4,667.9,95,749.3,141.6c9.4,3.2,18.8,6.4,28.2,9.6
   c75.6-35.7,151.2-71.5,226.7-107.2" />
    </svg>



    <div class="road abs"><img src="assets/Road.png" alt="road"></div>
    <div class="building1 abs"><img src="assets/Stg1_Customer care Mgmt.png" alt="Building"></div>
    <div class="tree1 abs"><img src="assets/tree.png" alt="Tree"></div>



    <div class="selection1 abs"><img src="assets/stg1_Selection complete.png" alt="Tree"></div>

    <div id="truck1" class="Truck1 abs"><img src="assets/Truck1.png" alt="Truck1"></div>
    <div id="c" class="Truck2 abs"><img src="assets/Truck2.png" alt="Truck2"></div>
  </div>
</drag-scroll>
