/* You can add global styles to this file, and also import other style files */
@import "app/variable";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #fff;
  scroll-behavior: smooth;
  line-height: 24px;
  overflow: hidden;
}
